<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a post</h1>
    
    <div>
        <form action="/posts" method="post">
            <label for="description">Describe pic</label><br>
            <input type="text" id="description" name="post[description]"><br>
            <label for="caption">Caption Your Post</label><br>
            <input type="text" id="caption" name="post[caption]">
            <input type="submit" value="Submit">
    </form>

    </div>
</body>
</html>