    <% layout("layout/boilerplate") %>


    <h1>Create a post</h1>
    
    <div>
        <ul>
            <li><a href="/posts/create">Create A Post</a></li>
            <li><a href="/posts">Goto Gallery</a></li>
        </ul>  
    </div>

    <div>
        <form action="/posts" method="post">
            <label for="description">Describe pic</label><br>
            <input type="text" id="description" name="post[description]"><br>
            <label for="caption">Caption Your Post</label><br>
            <input type="text" id="caption" name="post[caption]"><br>
            <label for="image">Insert image URL</label><br>
            <input type="text" id="image" name="post[image]" ><br>
            
            <input type="submit" value="Submit">
    </form>

    </div>