    <% layout("layout/boilerplate") %>

    <h1>All posts</h1>

    <div>
        <ul>
            <li><a href="/posts/create">Create A Post</a></li>
            <li><a href="/posts/gallery">Goto Gallery</a></li>
        </ul>  
    </div>

    
    <div  class="mx-auto" style="width: 200px;">
        <ul>
            <% for (let item of posts) { %>
                <li>
                
                                    
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%= item.image  %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.caption  %></h5>
                        <p class="card-text">
                            <ul>
                            <% for (let comment of item.comments) { %>
                                        <li><%= comment  %></li>
                            <% } %>  
                            </ul>  
                        </p>
                        <a href="/posts/<%= item._id  %>"" class="btn btn-primary">select</a>
                    </div>
                    </div>
                
                </li>
            <% } %>


        </ul>
    </div>

