    <% layout("layout/boilerplate") %>

    <h1>All posts</h1>

    <div>
        <ul>
            <li><a href="/posts/create">Create A Post</a></li>
            <li><a href="/posts/gallery">Goto Gallery</a></li>
        </ul>  
    </div>

    
    <div>
        <ul>
            <% for (let item of posts) { %>
                <li><a href="/posts/<%= item._id  %>"><%= item.caption  %></a></li>
            <% } %>
        </ul>
    </div>
